#category_box {
	-fx-background-color: #545A5C;	
}

#category_title {
	-fx-color: white;
}

.category_button: hover, #category_settings:hover  {
	-fx-background-color: #C3D4D9;
	cursor: pointer;
}

.category_button {
	-fx-background-color: #E4EFF2;
	-fx-padding: 10px 0;
	-fx-border-radius: 0px;
	-fx-font-size: 1.2em;
}

#category_settings {
	-fx-background-color: #E4EFF2;
	-fx-padding: 10px 0;
	-fx-border-radius: 0px;
	-fx-font-size: 1.2em;
}

#list_pane {
	-fx-background-color: #545A5C;	
	-fx-color: white;
	-fx-border-style: solid;
	-fx-border-width:  0 2px 0 2px;
	-fx-border-color: #E4EFF2;
}

#view_title {
	-fx-color: white;
}

#results_pane {
	-fx-background-color: #545A5C;	
}

#view_list {
	-fx-background-color: #E4EFF2;
}
